@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');


body{
  overflow-x: hidden;
  margin: 0;
  background: 
    radial-gradient(white 1px, transparent 1px),
    linear-gradient(to bottom, #000000, #0a0a0a);
  background-size: 30px 30px, 100% 100%;
  background-color: black;
  color: white;
  font-family: "Sora", sans-serif;


}

html {
  scroll-behavior: smooth;
}

/* Mobile optimization */
@media (max-width: 768px){

  body{
    /* Smaller grid for small screens */
    background-size: 20px 20px, 100% 100%;
  }

  h1{
    font-size: 2rem;
  }

  h2{
    font-size: 1.6rem;
  }

  p{
    font-size: 0.9rem;
  }

}